.circle-wrapper {
    position: relative;
    height: 50%;
    aspect-ratio: 1/1;
    margin: 0 auto;
    top: 20%;
}
  
.circle {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid rgba(66, 86, 122, 0.1);
    transform-origin: center center;
    z-index: 9;
}

.dot {
    position: absolute;
    width: .33vw;
    height: .33vw;
    aspect-ratio: 1/1;
    background-color: rgb(66, 86, 122);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease, background-color 0s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  
    &:hover {
        width: 2.6vw;
        height: 2.6vw;
        background-color: rgb(244, 245, 249);
        border: rgba(66, 86, 122, 0.549) thin solid;
  
    .dot-label {
        display: block;
        color: rgb(66, 86, 122);
        font-size: .95vw;
        font-weight: 100;
    }
    }
}
  
.dot.active {
    width: 2.6vw;
    height: 2.6vw;
    background-color: rgb(244, 245, 249);
    border: rgba(66, 86, 122, 0.549) thin solid;
  
    .dot-label {
        display: block;
        color: rgb(66, 86, 122);
        font-size: .95vw;
        font-weight: 100;
    }
}
  
.dot-label {
    display: none;
    user-select: none;
}
.tooltip {
    position: absolute;
    display: block;
    font-size: 1.05vw;
    font-weight: 600;
    color: rgb(66, 86, 122);
    user-select: none;
    top: 4.3%;
    left: 84%;
}

@media (max-width: 399px) {
    .circle-wrapper {
        display: none;
    }
}