@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.slider-wrapper {
    position: absolute;
    bottom: 6%;
    width: 90%;
    height: 13%;
    margin-left: 5%;
    cursor: pointer;
}
  
.slider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
  
    .swiper-wrapper {
        display: flex;
    }
  
    .slide {
        flex-shrink: 0;
        width: auto;
    }
  
    .event {
        height: 100%;
        width: fit-content;
        max-width: 18vw; 
        display: flex;
        flex-direction: column;
  
        div:first-child {
            color: rgb(68, 127, 239);
            height: 20%;
            margin-bottom: .6vw;
            font-size: 1.1vw;
            font-family: 'Bebas Neue', sans-serif;
            letter-spacing: 1px;
        }
    
        div:last-child {
            font-size: .9vw;
            color: rgb(66, 86, 122);
            height: 70%;
            line-height: 1.5;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: rgb(68, 127, 239);
    transform: translateY(-50%);
    width: 2vw;
    height: 2vw;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 70%;
    box-shadow: 0 0 7px rgba(10, 46, 114, 0.118);
    font-size: .9vw;

    &::after {
      content: none;
    }
}

.swiper-button-prev {
    left: -4%;
}

.swiper-button-next {
    right: -4%;
}

.swiper-button-disabled {
    display: none;
}

@media (max-width: 399px) {
    .slider-wrapper {
        bottom: 23%;
        width: 94%;
        height: auto;
        margin-left: 6%;
    }
    .slider {
        .event {
            max-width: 220px; 
      
            div:first-child {
                height: 20%;
                margin-bottom: 3.7vw;
                font-size: 5vw;
                letter-spacing: 1px;
            }
        
            div:last-child {
                font-size: 4.4vw;
                height: 70%;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    .slide.partially-visible {
        opacity: 0.4;
        transition: opacity 0.3s ease;
    }

    .slide {
        transition: opacity 0.3s ease;
    }
}